{% extends 'layouts/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/back.css'%}">

{% endblock %}

{% block content %}
    <div class="container-xl">
        <div class='d-flex justify-content-center my-auto mt-5'>
            <form action="{% url 'signin' %}" class="bg-light p-5 rounded shadow-lg" method='post'>
                {% csrf_token %}
                {% if form.errors %}
                <ul>    
             
                {% for field in form %}
                {% for error in field.errors %} 
                           <li class='text-danger'><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                {% endfor %}


            </ul>
             
                {% endif %}
               {% if error %} 
                    <ul>
                        <li class='text-danger'><strong>{{ error|escape }}</strong></li>
                    </ul>
               {% endif %}
                <h2>Page de connexion</h2>
                <div class='row'>
                    <div class='form-group'>
                        
                         <label for="name " class="font-weight-bold">Nom</label>
                         <input type="text" class='form-control p-2' placeholder='Bamba' name="name" id="name" for="name">   
                    </div>
                </div>
                <div class='row mt-1'>
                    <div class='form-group'>
                        <label for="password " class="font-weight-bold">Mot de passe</label>
                        <div> 
                        <input type="password" class='form-control p-2' placeholder='TODO1@123' name="password" id="password" for="password">
                    </div>   
                    </div>
                </div>
                <div class='row mt-2 text-center'>
                    <div class='form-group'>
                       <button type="submit" class='btn btn-primary px-5 font-weight-bold'>Se connecter</button>   
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}