{% extends 'layouts/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/back.css'%}" />

{% endblock %} {% block content %}
<h1 class="text-center text-white">Liste des taches</h1>
<div class="container-fluid mt-5 bg-white w-100">
  <div  style="overflow-y: auto;" class="row  flex-nowrap">
    <div class="col col-lg-4  border w-100 m-2 border-success">
      <h3>
        A faire <span class=""><i class="fa-solid fa-check"></i></span>
      </h3>
      <div class="d-flex flex-column">
        <div class="container bg-light rounded mx-1 p-0 mb-2">
          <div class="float-start"><span class="badge bg-warning">Important</span></div>
          <br>
          <div>
            <h5 class="text-center">Jouer à FIFA</h5>
          </div>

        </div>
        <div class="container bg-light rounded mx-1 p-0 mb-2">
          <div class="float-start"><span class="badge bg-warning">Important</span></div>
          <br>
          <div>
            <h5 class="text-center">Jouer à FIFA</h5>
          </div>

        </div>
        <div class="container bg-light rounded mx-1 p-0 mb-2">
          <div class="float-start"><span class="badge bg-warning">Important</span></div>
          <br>
          <div>
            <h5 class="text-center">Jouer à FIFA</h5>
          </div>

        </div>
        <div class="container bg-light rounded mx-1 p-0 mb-2">
          <div class="float-start"><span class="badge bg-warning">Important</span></div>
          <br>
          <div>
            <h5 class="text-center">Jouer à FIFA</h5>
          </div>

        </div>
        <div class="container bg-light rounded mx-1 p-0 mb-2">
          <div class="float-start"><span class="badge bg-warning">Important</span></div>
          <br>
          <div>
            <h5 class="text-center">Jouer à FIFA</h5>
          </div>

        </div>
      </div>
    </div>
    <div class="col col-lg-4  border w-100 m-2 border-success">
      <h3>
        A faire <span class=""><i class="fa-solid fa-check"></i></span>
      </h3>
      <div class="d-flex flex-column">
        <div class="container bg-light rounded">
          <div style="left: 0px;" class="float-start"><span class="badge bg-warning">Important</span></div>
          <br>
          <div>
            <h5 class="text-center">Jouer à FIFA</h5>
          </div>

        </div>
      </div>
    </div>
    <div class="col col-lg-4  border w-100 m-2 border-success">
      <h3>
        A faire <span class=""><i class="fa-solid fa-check"></i></span>
      </h3>
      <div class="d-flex flex-column">
        <div class="container bg-light rounded">
          <div style="left: 0px;" class="float-start"><span class="badge bg-warning">Important</span></div>
          <br>
          <div>
            <h5 class="text-center">Jouer à FIFA</h5>
          </div>

        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}